@use "variables" as v;
@use "mixins" as m;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: v.$Font;
  background-color: v.$Very-light-grayish-cyan;
  font-size: 24px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  &__title {
    text-align: center;
    color: v.$Dark-grayish-cyan;
    font-size: 1em;
    margin: 30px 0;
    letter-spacing: 8px;
  }
}

.main {
  .section-container {
    background-color: v.$White;
    width: 375px;
    border-radius: 15px;
    padding: 32px;
    &__value {
    }
    &__value-label {
      @include m.label;
    }
    &__value-input {
      @include m.input("../images/icon-dollar.svg");
    }
    //Buttons
    &__value-buttons {
      border: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      margin-bottom: 30px;
      
    }
    &__value-buttons-legend {
      @include m.label;
    }

    .selected {
      background-color: v.$Strong-cyan;
      color: v.$Very-dark-cyan;
    }
    &__value-buttons-btn {
      width: 147px;
      height: 50px;
      background-color: v.$Very-dark-cyan;
      color: v.$Very-light-grayish-cyan;
      font-family: v.$Font;
      font-size: 1em;
      border: none;
      border-radius: 5px;
      // &:active {
      //    background-color: v.$Strong-cyan;
      //    color: v.$Very-dark-cyan;
      //  }
      &:hover {
        cursor: pointer;
      }
    }
    &__value-buttons-custom {
      @include m.input(unset);
      text-align: center;
      color: v.$Dark-grayish-cyan;
    }

    //
    &__value-people-label {
      @include m.label;
    }

    &__value-people-input {
      @include m.input("../images/icon-person.svg");
    }
    &__value-people-label .error {
      color: red;
      &::after{
        content: "Can´t be zero";
        font-size: .7em;
      }
    }

    //Result
    &__results {
      background-color: v.$Very-dark-cyan;
      border-radius: 12px;
      padding: 42px 24px 24px;
      display: flex;

      flex-direction: column;
      justify-content: space-between;
    }
    &__results-res {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;
      gap: 20px;
    }

    // Section 1
    &__results-content1 {
    }
    &__results-content1-amount {
      font-size: 0.75em;
      color: v.$Very-light-grayish-cyan;
    }
    &__results-content1-person {
      font-size: 0.65em;
      color: v.$Light-grayish-cyan;
    }
    &__results-content1-tip-value {
      font-size: 1.2em;
      color: v.$Strong-cyan;
      text-align: right;
    }

    // Section 2
    &__results-content2 {
    }
    &__results-content2-total {
      @extend .section-container__results-content1-amount;
    }
    &__results-content2-person {
      @extend .section-container__results-content1-person;
    }
    &__results-content2-total-value {
      @extend .section-container__results-content1-tip-value;
    }

    &__results-btn {
      background-color: v.$Strong-cyan;
      height: 50px;
      color: v.$Very-dark-cyan;
      text-transform: uppercase;
      font-size: 1em;
      font-family: v.$Font;
      border: none;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        background-color: v.$Light-grayish-cyan;
      }
    }
  }
}
//=============== Desktop ============== //
@media (min-width: 1440px) {
  .header {
    &__title {
      margin: 160px 0 90px;
    }
  }

  .main {
    .section-container {
      width: 900px;
      display: flex;
      gap: 50px;

      &__value {
        flex: 1;
      }

      &__results {
        flex: 1;
      }
      &__value-buttons {
        grid-template-columns: repeat(3, 1fr);
      }
      &__value-buttons-btn {
        width: 120px;
      }
      &__results-content1-tip-value {
        font-size: 2em;
      }
      &__results-content2-total-value {
        font-size: 2em;
      }
    }
  }
}

// =============== Footer =============== //
.attribution {
  font-size: 14px;
  text-align: center;
  margin: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
